{% extends "base.html" %}
{% from "macros/_formRender.html" import render_field %}
{% block title %} About {% endblock %}
{% block body %}
{{ super() }}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hello, {{username}}!</h1>
      <p class="lead"></p>
      <p class="lead">You are definitely authorized.</p>
      <p class="lead">
        <form action="{{ url_for('auth.logout') }}" method="get">
            <button type="submit">Logout</button>
        </form>
      </p>
      <h2>Add or Delete Cookies</h2>
      <form action="{{ url_for('cookie.info') }}" method="post">
        <input type="text" name="key" placeholder="Key">
        <input type="text" name="value" placeholder="Value">
        <input type="date" name="expiration" placeholder="Expiration Date">
        <button type="submit" name="action" value="add">Add Cookie</button>
      </form>
      <form action="{{ url_for('cookie.info') }}" method="post">
        <input type="text" name="key" placeholder="Key to delete, or 'all'">
        <button type="submit" name="action" value="delete">Delete Cookie</button>
      </form>
      <h2>Change Password</h2>
        <div style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
        <h1 class="mb-md-5">Change password</h1>
        <form action="{{ url_for('cookie.change_password') }}" method="post"
              style="display: flex; flex-direction: column; align-items: center">
            {{ change_password_form.csrf_token() }}
            <div class="row d-flex justify-content-center">
              <div class="col-md-10">
                {{ render_field(change_password_form.old_password, class="form-control") }}
              </div>
                <div class="col-md-10">
                    {{ render_field(change_password_form.new_password, class="form-control") }}
                </div>
            </div>
            {{ change_password_form.submit() }}
        </form>
    </div>
      <h2>Current Cookies</h2>
      <table border="1">
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th>Expiration Date</th>
          <th>Creation Time</th>
        </tr>
        {% for key, value in cookies.items() %}
          <tr>
            <td>{{ key }}</td>
            <td style='max-width:500px;'>{{ value }}</td>
            <td>{{ request.cookies[key].expires }}</td>
            <td>{{ request.cookies[key]['creation_time'] }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% endblock %}