{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block body %}
{{ super() }}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About me</h1>
      <p class="lead"></p>
      <p class="lead">My name is ██ █ ████████ and I'm a ████████ █████████</p>
      <p class="lead">I live in ████████████████ ██████ ██ ███a█ ███████</p>
      <p class="lead">My hobbies are: ███████████████ █ ███████████ ███████v █████████████████████ █████████</p>
      <p class="lead">My email is █████████████████████████████████ho█████.</p>
      <p class="lead">My phone number is ███ ██████████████</p>
      <p class="lead">My ███k███████████ i█████ ██ █t█████████████████</p>
    </div>
  </div>
{% endblock %}