{% extends 'base.html' %}
{% from "macros/_formRender.html" import render_field %}
{% block title %}
Log in
{% endblock %}
{% block body %}
<style>
    form {
        background-color: lightyellow;
        padding: 10px;
        border-radius: 10px;
        margin: auto;
        margin-top: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="largediv">

    {{ super() }}

    <h1>Log in</h1>
    <form action="{{ url_for('auth.login_handle')}}" method="post" class="w-50 gap-3 needs-validation" novalidate>
        {{ login_form.csrf_token() }}

        <div class="mb-3">
            {{ render_field(login_form.login, class='form-control') }}
        </div>

        <div class="mb-3">
            {{ render_field(login_form.password, class='form-control') }}
        </div>

        <div class="mb-3 form-check text-center">
            {{ render_field(login_form.remember, class='form-check-input') }}
            <label class="form-check-label">
                {{ login_form.remember.label }}
            </label>
        </div>

        <div class="text-center mb-3">
            {{ login_form.submit() }}
        </div>
    </form>

</div>
{% endblock %}